<h1>
    esto es el archivo about
</h1>
<!--creamos una tarjeta, un div o una clase card y adentro una clase card-body -->
<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Omnis quos odit inventore laborum praesentium consequuntur hic ad saepe,
           impedit ducimus nesciunt fugiat doloremque quisquam ex consequatur
           recusandae doloribus cum nam?</p>
    </div>
</div>
