<h1>esto es el archivo index</h1>

<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
     <!--lead clase resaltada -->
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <!--<hr> linea divisoria -->
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Odio iure, quis tenetur eos veniam fugit delectus animi itaque adipisci,
        assumenda fugiat iste vitae libero distinctio. 
        Explicabo beatae nisi dolor corporis!</p>
    <a href="http://faztweb.com" class="btn btn-primary btn-lg">Button Fazt</a>
<!--etiqueta a-->                               <!--para que parezca un boton con la clase btn (color azul{btn-primary}) hacer crecer el boton con  btn-lg-->
</div>
