<div class="row">
  {{#each notes}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                 <h4 class="card-title">
                  {{tit}}
                 </h4>
                 <p>
                  {{descripion}}
                 </p>
                </div>
            </div>
         </div>
  {{/each}}  
</div>