<!--ARCHIVOS(enves de solo rutas con mensajes) NECESARIOS PARA ENVIAR AL FRONT END, configuraciones de vistas  -->
<!-- en esta pagina leemos a main.css-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>este es el archivo main</title>
    <!-- BOOTSTRAP 4-->
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous">
     <!-- FONT AWESOME -->
      <script src="https://kit.fontawesome.com/5f1b849f36.js" crossorigin="anonymous"></script>
    <!-- CUSTOM CSS -->
    <!--la carpeta public solo es conocida por el servidor por lo que no se necesita referenciarla,poreso tiene ese comportamiento tan raro en la rutas en columna izquiera del editor-->
    <!--con:app.use(express.static(path.join(__dirname, 'public'))); decimos que todo lo que este dentro de la carpeta public es publico todo pueden acceder a elaa, pero no la carpeta con el nombre en si-->
    <link rel ="stylesheet" href="/css/main.css">
    <!-- sabesmos que css/main.css esta dentro de la carpeta public,y declaramos la carpeta public como publico entonces puede acceder a todo lo que est dentro pero no puedo llamar al nombre de la carpeta ensi -->
</head>
<body>
    
    {{> navigation }}
   
    <!--etiqueta main que define el contenidop central de la aplicacion -->
    <main class="container p-4">
        {{> messages}}
        {{> errors}}
        <!--errors el codigo partials para que se ejecute en la parte que necesitemos---> 
    <!--clase de bootstrap para central el contenido de los lados y aparezca como un recuadro cortado--->  
     {{{ body }}}
    </main>
    <p>Footer</p>

<!-- SCRIPTS para que BOOTSATRAP (alerts fade)funcione completamente necesitamos poner justo al final de la plantilla principal los scripts de JQUERY JPOPPER y de JS   -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>





