<div class="row">
    <div class="col-md-4">
        <div class="card mt-4 text-center mx-auto">
            
            <img src="../img/logo1.png" class="mx-auto d-block m-4 logo" alt="Logo"><div class="card-body">

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mt-4 text-center">
            <div class="card-header">
            <h1>Account Login</h1>
            </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email" autofocus>
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Login
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>